<div>
  <div class="header">
    <nav class="inner">
      <a [routerLink]="['/top']">
        <img
          alt="Hacker News"
          src="https://d1l6icgp8w0hse.cloudfront.net/assets/ycdc/ycombinator-logo-7481412385fe6d0f7d4a3339d90fe12309432ca41983e8d350b232301d5d8684.png"
        />
      </a>
      <a [routerLink]="['/top']">
        Top
      </a>

      <a [routerLink]="['/new']">
        New
      </a>

      <a [routerLink]="['/show']">
        Show
      </a>

      <a [routerLink]="['/ask']">
        Ask
      </a>

      <a [routerLink]="['/jobs']">
        Jobs
      </a>
    </nav>
  </div>
</div>
